<!DOCTYPE html>

<html lang="ko">

<%- partial('head') %>

<body id="">

    <div id="page">

        <%- partial('header') %>

        <%- body %>

        <%- partial('footer') %>

    </div>

</body>


</html>