<% layout('layout/layout')%>

<div class="container">

    <h1>로그인</h1>
    <form>
      <div class="form-group">
        <label for="loginID">ID</label>
        <input type="text" class="form-control" id="loginID" placeholder="ID">
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" id="loginPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">LogIn</button><br/><br/>
    </form>
    <div style="display:inline-block">
      <button type="button" class="btn btn-outline-dark" onclick="location.href='./signup'">ID가 없으신가요?</button>
      <button type="button" class="btn btn-outline-dark" onclick="location.href='./findid'">ID 찾기</button>
      <button type="button" class="btn btn-outline-dark" onclick="location.href='./findpw'">Password 찾기</button>    
    </div>
  
</div>