<% layout('layout/layout')%>

<div class="container">

  <h1>home page</h1>
  Mission Title: <input type="text" id="missionTitle" /><br />
  Mission Creator: <input type="text" id="missionCreator" /><br />
  <button type="button" class="btn btn-outline-dark" onclick="missionInsert()">미션 등록</button>

  <br><br>
  <h1>Query ledger</h1>
    <p class="lead" id="queryChange">여기 바뀌어라</p>
  Query Title: <input type="text" id="queryTitle" /><br />
  <button type="button" class="btn btn-primary btn-sm" onclick="missionQuery()">Query Answer</button><br>

</div>