<% layout('layout/layout')%>

<div class="container">

  <h1>home page</h1>
  Mission Title: <input type="text" id="missionTitle" /><br />
  Mission Creator: <input type="text" id="missionCreator" /><br />
  <button onclick="missionInsert()">미션 등록</button>

</div>